*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
.header-wrapper{
  width: 90%;
  margin: auto;
}
.btns{
  /* border: 2px solid red; */
  width: 200px;
  padding:4px;
  background-color: #981D87;
  border-radius: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.84em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.navlinkerr:hover{
  color: #981D87;
  border-bottom: #981D87;
  padding: 20px;
}
li a:hover{
  color: red;
}
.nav-container li a{
  font-size: 0.84em;
  font-weight: 300;
  color: #737385;
}
.second-header{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.fa-magnifying-glass{
  border: 2px solid red;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #981D87;
  color: white;
  border: none;
}

.second-header li {
  font-size: 0.8em;
  font-weight: 300;
}
.second-header li {
  color: #737385;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu li{
  font-size: 0.9em;
  font-weight: 900;
}
.navss-hov{
  font-weight: 800;
}
.navss-hov:hover{
  color: #981D87;
  border-bottom: 2px solid #981D87;
}

/* ____Second-header media query____ */
@media(max-width:991px){
  .second-header{
    display: none;
  }
}


/* .hero-section{
  
} */
.hero-wrapper{
  width: 90%;
  margin: auto;
}
.hero-head{
  display: flex;
  gap: 1em;
}
.hero-head p{
  font-size: 0.8em;
}
.hero-head p a{
  text-decoration: none;
  color: black;
}
.hero-icon{
  color: #737385;
}
.hero-btns{
  border: 2px solid red;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 0.8em;
  background-color: #981D87;
  color: white;
  border-radius: 40px;
  border: none;
}
.hero-text{
  width: 50%;
}
.hero-text h1{
  font-size: 3em;
  font-weight: 700;
}
.hero-text p{
  font-size: 0.8em;
}
.hero-text-image{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width:990px){
  .hero-wrapper{
    width: 90%;
    margin: auto;
  }
  .hero-text-image{
    flex-direction: column;
    /* width: 80%;
    margin: auto; */
    margin-bottom: 100px;
  }
  .hero-image img{
    width: 100%;
  }
}
@media(max-width:640px){
  .hero-wrapper{
    width: 100%;
    margin: auto;
  }
  .hero-text{
    width: 90%;
    margin: auto;
    padding: 20px;
  }
  .hero-text h1{
    font-size: 2em;
    font-weight: 700;
  }
  .hero-head{
    display: none;
  }
  .hero-text-image{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-image img{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}



.second-section{
  background-image: url(./img/slider1-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.second-sect-container{
  width: 90%;
  margin: auto;
  /* padding: 20px; */
  padding-top: 40px;
  padding-bottom: 20px;
}
.second-sect-container p{
  font-size: 2em;
  font-weight: 600;
  color: #D1D5DB;
}
.second-sect-container h4{
  color: #E4F2FF;
  font-size: 1em;
}
.second-text{
  color: #EC49DE;
}


@media(max-width:766px){
  .second-left-side{
    display: none;
  }
  .second-wrapper{
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 5px 2px #f1f1f1;
  }
  .second-right-side{
    width: 100%;
    height: auto;

  }
}
@media(max-width:640px){
  .second-sect-container{
    width: 90%;
    margin: auto;  
  }
  .second-lefti-side{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin: auto;
    border-bottom: thin solid gray;
    display: block;
    /* align-items: center; */
  }
  .second-lefti-side p{
    font-size: 0.8em;
    text-wrap: wrap;
  }
}
@media(max-width:425px){
  .second-sect-container p{
    font-size: 1.4em;
  }
  .second-lefti-side p{
    font-size: 0.6em;
  }
}

/* ____Main Section____ */
.main-wrapper{
  width: 90%;
  margin: auto;
}
.main-wrapper h2{
  font-size: 1.8em;
  font-weight: 700;
}
.main-wrapper p{
  font-size: 0.8em;
  text-wrap: wrap;
}

.second-main-wrapper{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.second-main-card{
  border: thin solid gray;
  padding: 20px;
  width: 50%;
  max-height: 104vh;
}
.second-main-card h4{
  font-size: 1.4em;
  font-weight: 700;
}
.second-main-card p{
  font-size: 0.8em;
}
.second-main-card img{
  width: 100%;
}

@media(max-width:765px){
  .second-main-wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .second-main-card{
    width: 90%;
  }
}


/* ____Third main section_____ */
.third-main-wrapper{
  width: 90%;
  margin: auto;
}
.third-value-text{
  color: #981D87;
  font-size: 1.2em;
  font-weight: 400;
}
.third-main-wrapper h2{
  font-size: 2em;
  font-weight: 700;
}
.third-main-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  /* flex-wrap: wrap; */
  
}
.third-main-cards .card{
  width: 360px;
  height: 300px;
  border: 2px solid black;
  text-align: center;
  padding: 40px 12px;
  background-color: #F3F4F6;
  border: none;
}
.third-card-image{
  width: 60px;
}
.third-main-cards h4{
  font-size: 1.2em;
  font-weight: 700;
}
.third-main-cards p{
  font-size: 0.8em;
}
.card-separate img{
  width: 220px;
  padding: 40px;
}

/* ____Third main media query___ */
@media(max-width:765px){
  .third-main-wrapper .head-texts{
    padding-left: 22px;
  }
  .third-main-cards{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .third-main-cards .card{
    width: 90%;
  }
}
@media(max-width:500px){
  .third-main-wrapper h2{
    font-size: 1em;
    font-weight: 600;
  }
}






.third-sect{
  width: 100%;
  margin: auto;
  background-color: #F6F6F6;
  display: block;
  /* border: 2px solid red; */
}
.third-wrapper{
  padding: 40px;
  width: 90%;
  margin: auto;
}
.cardi img{
  margin-bottom: 10px;
}
.cardi{
  border: 2px solid red;
  width: 180px;
  height: 120px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 0px 5px 2px #f1f1f1;
  transition: 0.2s;
  /* padding: 30px; */
}
.cardi:hover{
  transform: translate(-10px, -20px);
}
.cardi p{
  font-size: 0.8em;

}
.acco-wrapper{
  background-color: #F6F6F6;
  width: 90%;
  margin: auto;
  display: none;
}
.acco-text p a{
  text-decoration: none;
  color: #737385;
  font-weight: 400;
}
.also-see-text{
  padding: 20px;
  font-size: 1.2em;
  font-weight: 400;
}

  @media(max-width:990px){
  .third-sect{
    display: none;
  }
  .acco-wrapper{
    display: block;
  }
}


/* ____Footer Section____ */
.footer-section{
  background-image: url(./img/slider1-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer-wrapper{
  width: 90%;
  margin: auto;
}
.footer-wrapper p a:hover{
  color:#EC45C3;
}
.upper-footer-wrapper{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 3em;
  padding: 60px;
  line-height: 1;
}
.wema-white-img{
  width: 180px;
}
.licensed-text{
  display: flex;
  gap: 1em;

}
.licensed-txt{
  color: white;
  font-weight: 600;
  padding-top: 10px;
}
.cbn-logo{
  width: 24px;
}
.upper-footer-wrapper h4{
  color: white;
  font-size: 0.9em;
  font-weight: 600;
}
.upper-footer-wrapper p a{
  color:#D1D5DB;
  text-decoration: none;
  font-size: 0.8em;
  line-height: -1em;
}
.upper-footer-wrapper .first-upper{
  display: flex;
  justify-content: center;
  gap: 3em;
}
.upper-footer-wrapper .second-upper{
  display: flex;
  justify-content: center;
  gap: 3em;
}
.upper-social-logo{
  display: flex;
  align-items: center;
  gap: 1em;
}
.upper-social-logo .fa-brands{
  color: white;
  
}

.lower-footer-wrapper{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 3em;
  padding: 10px 60px;
}
.lower-download-logo{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.lower-download-logo p{
  color: white;
  font-size: 0.8em;
}
.lower-download-logo img{
  width: 120px;
}
.lower-copywrite{
  padding-top: 20px;
}

.lower-footer-wrapper h4{
  color: white;
  font-size: 0.9em;
  font-weight: 600;
}
.lower-footer-wrapper p a{
  color:#D1D5DB;
  text-decoration: none;
  font-size: 0.8em;
}
.lower-footer-wrapper .first-lower{
  display: flex;
  justify-content: center;
  gap: 3em;
}
.lower-footer-wrapper .second-lower{
  display: flex;
  justify-content: center;
  gap: 3em;
}

/* ___Footer Media Query____ */
@media(max-width:800px){
  .upper-footer-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .wema-white-img{
    width: 150px;
  }
  .licensed-txt{
    font-size: 0.8em;
  }
  .lower-footer-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .first-lower{
    width: 100%;
  }
}
