*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.btns{
  padding: 10px;
  background-color: #981D87;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.navlinkerr:hover{
  color: #981D87;
  border-bottom: #981D87;
  padding: 20px;
}
li a:hover{
  color: red;
}